{% extends "base.html.j2" %}
{% block title %}C.V. - Jonathon Waterhouse's blog{% endblock %}
{% block content %}
<div class="home-link">
    <a href="/">< Home</a>
</div>
<div class="post">
    <div class="post-content">
        {{ cv['html'] }}
    </div>
</div>
{% endblock %}