# Jonathon Waterhouse's blog

{% for slug in posts if not posts[slug']['is_draft'] %}
{%- set post = posts[slug] -%}
=> /post/{{ slug }}/ {{ post['created_at'].strftime('%Y-%m-%d') }} {{ post['title'] }}
{% endfor %}