{% extends "base.html.j2" %}
{% block title %}Jonathon Waterhouse's blog{% endblock %}
{% block content %}
<div class="home">
    <div class="post-list">
        <h1>Jonathon Waterhouse's blog</h1>
        {% for slug in posts if not posts[slug]['is_draft'] %}
        {% set post = posts[slug] %}
        <div class="post-item">
            <a class="post-link" href="/post/{{ slug }}/">{{ post['title'] }}</a>
            <br />
            <span class="post-date">{{ post['created_at'].strftime('%B %-d, %Y') }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="about">
        <img class="avatar" src="/static/avatar.jpg" />
        <dl>
            <dt>from</dt>
            <dd>Brisbane, Australia</dd>
            <dt>email</dt>
            <dd><a href="mailto:jon@wtrhs.com">jon@wtrhs.com</a></dd>
            <dt>c.v.</dt>
            <dd><a href="/cv">here</a> or <a href="https://www.linkedin.com/in/jonathonwaterhouse/">linkedin</a></dd>
        </dl>
    </div>
</div>
{% endblock %}