{% extends "base.html.j2" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Jonathon Waterhouse's blog</h1>
<div class="article-list">
    {% for slug in articles %}
    {% set article = articles[slug] %}
    <div class="article-item">
        <a class="article-link" href="/article/{{ slug }}/">{{ article['title'] }}</a>
        <br />
        <span class="article-date">{{ article['created_at'].strftime('%B %-d, %Y') }}</span>
    </div>
    {% endfor %}
</div
{% endblock %}