body {
    font-family: sans-serif;
    /* font-family: monospace; */
    font-size: 1rem;
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
}

/* Home */
.home {
    display: flex;
    flex-direction: row;
}
.about {
    width: 40%;
    margin-left: 20px;
}
@media only screen and (max-width: 650px) {
    .about {
        display: none;
    }
}
.about .avatar {
    width: 128px;
    height: 128px;
    border-radius: 4px;
}
.about dt {
    font-size: .9rem;
}
.about dd {
    margin-left: 0;
}
.article-list {
    flex: 1;
}
.article-list > h1 {
    font-size: 1.5rem;
}
.article-item > .article-link {
    font-size: 1rem;
}
.article-item > .article-date {
    color: grey;
    font-size: smaller;
}

/* Article */
.home-link {
    margin-bottom: 1rem;
}
.article > .article-title > h1 {
    margin: 0;
}
.article > .article-title > .article-date {
    color: grey;
    font-size: smaller;
}
.article > .article-content {
    max-width: 600px;
}
.article > .article-content img {
    width: 100%;
}
.article > .article-content > p > img + em {
    /* caption */
    margin-top: 4px;
    display: inherit;
    text-align: center;
    font-size: .9rem;
}
